@font-face {
  font-family: "digital-7";
  src: local("digital-7"), url(./fonts/digital-7.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./fonts/Rubik.ttf) format("truetype");
}

body {
  background-color: #11324d;
  background-color: #1a1aca48;
  background-color: #11324d;
  color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11324d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11324d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11324d;
}
@media (min-width: 501px) {
  .container_2 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(1fr, 7);
    grid-template-rows: repeat(1fr, 11);
    grid-auto-rows: auto;
    grid-auto-columns: auto;

    gap: 0px 0px;
    grid-template-areas:
      "logo logo logo trainbld_header trainbld_header social social"
      "connect_cube connect_cube connect_cube trainbld_header trainbld_header rotem_ifrach rotem_ifrach"
      "setting setting setting setting setting setting setting"
      "stats_bar stats_bar stats_bar scrambler scrambler scrambler scrambler"
      "stats stats timer timer timer timer timer"
      "stats stats timer timer timer timer timer"
      "stats stats timer timer timer timer timer"
      "solve_stats solve_stats timer timer timer timer timer"
      "solve_stats solve_stats timer timer timer timer timer"
      "solve_stats solve_stats timer timer timer timer timer"
      "solve_stats solve_stats timer timer timer timer timer";
  }
  td {
    background-color: #a1cae5;

    font-size: 1em;
    padding: 0.1em;
    border: 0.1em solid #094ad42d;
    font-family: "Rubik";
    color: #000000;
    text-align: center;
  }
  th {
    font-family: "Rubik";
    font-size: 1em;
    font-weight: normal;
    padding-top: 0.43em;
    border: 0.1em solid #0949d460;
    padding-bottom: 0.1em;
    text-align: center;
    background-color: #0d6efd;
    color: white;
  }
  .logo {
    background-color: #a1cae5;
    grid-area: logo;
  }
  .logo img {
    width: 8em;
    height: 4em;
    padding-left: 4em;
    background-color: #a1cae5;
    align-self: center;
  }
  .backgroung-help {
    background-color: #a1cae5;
  }
  .connect_cube {
    background-color: #a1cae5;
    grid-area: connect_cube;
  }
  .setting {
    background-color: #a1cae5;
    grid-area: setting;
  }
  .setting_collapse_menu {
    font-size: 1em;
    padding-left: 0.5em;
  }
  .social {
    text-align: end;
    padding-top: 1em;
    /* padding-left: 3em; */
    background-color: #a1cae5;
    grid-area: social;
  }

  .moves_scramble {
    font-family: "Rubik";
    font-size: 1.5em;
    padding-left: 1em;
  }

  .youtube {
    font-size: 0.8em;
    width: 6em;
    height: 3em;
  }
  .github {
    font-size: 0.8em;
    width: 6em;
    height: 3em;
  }
  .support {
    font-size: 0.8em;
    width: 7em;
    height: 3em;
  }
  .rotem_ifrach {
    font-size: 1.1em;
    font-style: italic;
    padding-right: 1em;
    /* text-align: end; */
    background-color: #a1cae5;
    grid-area: rotem_ifrach;
  }
  .trainbld_header {
    background-color: #a1cae5;
    text-align: center;
    /* padding-top: 0.5em; */
    font-style: italic;
    font-size: 5em;
    grid-area: trainbld_header;
  }
  .stats_bar {
    text-decoration: none;
    padding-left: 1em;
    padding-top: 1em;
    width: 40vmin;
    background-color: #a1cae5;
    grid-area: stats_bar;
  }
  .stats_bar_reset {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_export_stats {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_plus_2 {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_dnf_last_solve {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_delete_last_solve {
    text-decoration: none;
    font-size: 1em;
  }
  .scrambler {
    grid-area: scrambler;
  }
  .container_scrambler {
    /* width: 100vw;
    height: 100vh; */
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 1);
    grid-auto-rows: auto;
    grid-auto-columns: minmax(10px, auto);

    gap: 0px 1em;
    grid-template-areas: "scramble_seq all_scramble_button";
  }
  .all_scramble_button {
    grid-area: all_scramble_button;
    height: 3.5em;
  }

  .scramble_seq {
    padding-top: 0.5em;
    font-family: "Rubik";
    text-align: center;
    font-size: 1.6em;
    height: 4em;
  }
  .last_btn {
    font-size: 1.1em;
  }
  .next_btn {
    font-size: 1.1em;
  }
  .reset_moves {
    font-size: 1.1em;
  }
  .stats {
    grid-area: stats;
  }
  .solve_stats {
    grid-area: solve_stats;
  }
  .timer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    grid-area: timer;
  }
  .connect_cube_1 {
    width: 13em;
    font-size: 1em;
  }
  .setting_btn {
    width: 13em;
    font-size: 1em;
  }

  .solve_status {
    font-size: 3em;
    padding-left: 2.5em;
    font-family: "Rubik";
  }
  .timer_on_screen {
    font-size: 9em;
    text-align: start;
    padding-left: 0.5em;
    font-family: "digital-7";
    src: "./digital-7.ttf";
  }
  .scramble_image {
    width: 15em;
    height: 15em;
  }
  .solve_stats_body {
    width: 40vmin;
    height: 31vmin;
    overflow-y: scroll;
    display: block;
  }
  .best_averages {
    width: 40vmin;
    display: inline-table;
  }
}

@media (max-width: 500px) {
  .container_2 {
    height: 120vh;
    width: 100vw;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto 1fr;
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: minmax(10px, auto);
    gap: 0px 0px;
    grid-template-areas:
      "logo logo trainbld_header trainbld_header trainbld_header trainbld_header trainbld_header trainbld_header rotem_ifrach rotem_ifrach"
      " connect_cube connect_cube connect_cube social social social social social social social"
      "setting setting setting setting setting setting setting setting setting setting"
      "scrambler scrambler scrambler scrambler scrambler scrambler scrambler scrambler scrambler scrambler"
      "timer timer timer timer timer timer timer timer timer timer"
      " stats_bar stats_bar stats_bar stats_bar  stats_bar stats_bar stats_bar stats_bar stats_bar stats_bar"
      "solve_stats solve_stats solve_stats solve_stats solve_stats solve_stats solve_stats solve_stats solve_stats solve_stats"
      "stats stats stats stats stats stats stats stats stats stats";
  }
  td {
    background-color: #a1cae5;

    font-size: 1em;
    padding: 0.1em;
    border: 0.1em solid #094ad42d;
    font-family: "Rubik";
    color: #000000;
    text-align: center;
  }
  th {
    font-family: "Rubik";
    font-size: 1em;
    font-weight: normal;
    padding-top: 0.43em;
    border: 0.1em solid #0949d460;
    padding-bottom: 0.1em;
    text-align: center;
    background-color: #0d6efd;
    color: white;
  }
  .logo {
    padding-top: 0.5rem;
    background-color: #a1cae5;
    grid-area: logo;
  }
  .logo img {
    width: 3em;
    height: 2em;

    padding-left: 1em;
    background-color: #a1cae5;
    align-self: center;
  }
  .backgroung-help {
    background-color: #a1cae5;
  }
  .connect_cube {
    background-color: #a1cae5;
    grid-area: connect_cube;
  }
  .setting {
    background-color: #a1cae5;
    grid-area: setting;
  }
  .social {
    background-color: #a1cae5;
    grid-area: social;
  }

  .youtube {
    font-size: 0.7em;
    width: 5em;
    height: 3em;
  }
  .github {
    font-size: 0.7em;
    width: 5em;
    height: 3em;
  }
  .support {
    font-size: 0.7em;
    width: 8em;
    height: 3em;
  }
  .rotem_ifrach {
    font-size: 0.8em;
    font-style: italic;
    padding-right: 1em;
    /* text-align: end; */
    background-color: #a1cae5;
    grid-area: rotem_ifrach;
  }
  .trainbld_header {
    background-color: #a1cae5;
    text-align: center;
    font-style: italic;
    font-size: 2em;
    grid-area: trainbld_header;
  }
  .stats_bar {
    text-decoration: none;
    padding-left: 1em;

    background-color: #a1cae5;
    grid-area: stats_bar;
  }
  .stats_bar_reset {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_export_stats {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_plus_2 {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_dnf_last_solve {
    text-decoration: none;
    font-size: 1em;
  }
  .stats_bar_delete_last_solve {
    text-decoration: none;
    font-size: 1em;
  }

  .moves_scramble {
    font-family: "Rubik";
    font-size: 1em;
  }
  .stats {
    grid-area: stats;
  }
  .solve_stats {
    grid-area: solve_stats;
  }
  .timer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    grid-area: timer;
  }
  .connect_cube_1 {
    text-align: start;
    font-size: 0.7em;
  }
  .setting_btn {
    text-align: start;
    font-size: 0.7em;
    width: 8.5em;
  }
  .setting_collapse_menu {
    font-size: 1em;
    padding-left: 0.5em;
  }
  .scrambler {
    padding-bottom: 2em;
    grid-area: scrambler;
  }
  .container_scrambler {
    /* width: 100vw;
    height: 100vh; */
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(1fr, 1);

    grid-template-rows: repeat(1fr, 2);
    grid-auto-rows: auto;
    grid-auto-columns: minmax(10px, auto);

    gap: 0px 1em;
    grid-template-areas:
      "all_scramble_button"
      "scramble_seq";
  }
  .all_scramble_button {
    padding-bottom: 0.5em;
    grid-area: all_scramble_button;
  }
  .last_btn {
    font-size: 1em;
    width: 5em;
  }
  .next_btn {
    width: 5em;
    font-size: 1em;
  }
  .reset_moves {
    font-size: 1em;
  }
  .scramble_seq {
    font-family: "Rubik";
    font-size: 0.8em;
    height: 1em;
  }
  .solve_status {
    font-size: 1.2em;
    text-align: center;
    font-family: "Rubik";
  }
  .timer_on_screen {
    font-size: 4em;
    text-align: start;
    padding-left: 1.3em;
    font-family: "digital-7";
    src: "./digital-7.ttf";
  }
  .scramble_image {
    width: 6em;
    height: 6em;
  }
  .solve_stats_body {
    height: 11em;
    overflow-y: scroll;
    display: block;
  }
  .best_averages {
    display: inline-table;
  }
}
