@font-face {
  font-family: "digital-7";
  src: local("digital-7"), url(./fonts/digital-7.ttf) format("truetype");
}
td {
  font-size: "6px";
  padding: 3px;
  border: 1px solid #ddd;
  font-family: "Rubik";
  color: #000000;
  text-align: center;

  background-color: #a1cae5;
}
th {
  font-weight: normal;
  padding-top: 6px;
  border: 1px solid #ddd;
  padding-bottom: 6px;
  text-align: center;
  background-color: #0d6efd;
  color: white;
}
#solve_stats_table {
  
}
#solve_stats_body {
  width: 253px;
  height: 260px;
  overflow-y: scroll;
  display: block;
}

#best_averages {
  width: 253px;
  height: 162px;
  display:inline-table;
}
#best_averages_table {
  height: 100px;

  table-layout: fixed;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11324d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11324d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11324d;
}
