@font-face {
  font-family: "digital-7";
  src: local("digital-7"), url(./fonts/digital-7.ttf) format("truetype");
}
body {
  background-color: #11324d;
  background-color: #1a1aca48;
  background-color: #11324d;
  color: #f6f6f6;
}
#upper_page, td{
  background-color: #a1cae5;
  background-color: #a1cae5;
}


td {
  font-size: 16px;
  padding: 3px;
  border: 1px solid #094ad42d;
  font-family: "Rubik";
  color: #000000;
  text-align: center;

}
th {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: normal;
  padding-top: 3px;
  border: 1px solid #0949d460;
  padding-bottom: 6px;
  text-align: center;
  background-color: #0d6efd;
  color: white;
}
#solve_stats_body {
  width: 253px;
  height: 230px;
  overflow-y: scroll;
  display: block;
}

#best_averages {
  width: 245px;
  height: 162px;
  display: inline-table;
}
#best_averages_table {
  height: 100px;

  table-layout: fixed;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11324d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11324d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11324d;
}
